<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>HTTP Tester is a simple REST application that you can use for test your projects via http request</p>
    <hr>
    <br>
    <h2 class="title">Available methods</h2>
    
    <h4 class="subtitle">- Simple HTTP request</h4>
    <p><b>Test Route:</b> http://serverURL:3000/request</p>
    <ul>
    	<li>GET</li>
    	<li>POST</li>
    	<li>PUT</li>
    	<li>DELETE</li>
    </ul>
    
    <br>
    
    <h4 class="subtitle">- HTTP request with parameters</h4>
    <p><b>Test Route:</b> http://serverURL:3000/request/<i class="evidence">parameterValue</i></p>
    <ul>
    	<li>GET : parameter</li>
    	<li>POST : parameter</li>
    	<li>PUT : parameter</li>
    	<li>DELETE : parameter</li>
    </ul>
  </body>
</html>